name: Run lint and static analyis checks
on:
  pull_request:
  workflow_call:

concurrency:
  group: lint-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  tardigradelint:
    runs-on: ubuntu-latest
    steps:
      - name: Clone this git repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

      - name: Project Syntax Verification
        run: make docker/run target=lint

  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Clone this git repository
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

      - name: Check workflow files
        uses: reviewdog/action-actionlint@b6feb003955cad286985c42e7047f4567a798f3f
