name: Run lint and static analyis checks
on:
  pull_request:
  workflow_call:

concurrency:
  group: lint-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  tardigradelint:
    runs-on: ubuntu-latest
    steps:
      - name: Clone this git repository
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3

      - name: Project Syntax Verification
        run: make docker/run target=lint

  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Clone this git repository
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3

      - name: Check workflow files
        uses: reviewdog/action-actionlint@42de1e3a0f52d5f8b8390894de87bc603844e530
